<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.univ.assignment.dao.AssignmentDAO">
	<select id="selectAsgmtListByClassId"
		resultType="com.univ.assignment.model.Assignment" parameterType="map">
		<!-- SELECT a.`classId`, a.`asgmtId`, a.`asgmtType`, a.`asgmtName`, a.`content`, 
			a.`filePath`, a.`maxScore`, a.`dueDate`, a.`createdAt`, a.`updatedAt`, b.`courseCode` 
			FROM `assignment` as a JOIN `class` as b ON a.`classId` = b.`id` WHERE `classId` 
			= #{classId} ORDER BY `updatedAt` DESC; -->

		SELECT * FROM
		(SELECT
		d.*,
		@ROWNUM := @ROWNUM + 1 AS
		`rownum`
		FROM
		(
		SELECT
		a.`classId`,
		a.`asgmtId`,
		a.`asgmtType`,
		a.`asgmtName`,
		a.`content`,
		a.`filePath`,
		a.`maxScore`,
		a.`dueDate`,
		a.`createdAt`,
		a.`updatedAt`,
		b.`courseCode`
		FROM
		`assignment` as a
		JOIN
		`class` as b
		ON
		a.`classId` =
		b.`id`
		WHERE
		`classId` =
		#{classId}
		ORDER BY `updatedAt`
		DESC
		) AS d,
		(SELECT
		@ROWNUM:=0) AS e) f
		WHERE
		`rownum` BETWEEN #{pageNum} * 10 - 9
		AND #{pageNum} * 10;
	</select>

	<select id="selectCountAsgmtListByClassId" parameterType="int"
		resultType="int">
		SELECT
		COUNT(*)
		FROM
		`assignment` as a
		JOIN
		`class` as b
		ON
		a.`classId` =
		b.`id`
		WHERE
		`classId` =
		#{classId}
	</select>

	<insert id="insertAssignment"
		parameterType="com.univ.assignment.model.Assignment">
		<!-- INSERT INTO `assignment` ( `classId`, `asgmtType`, `asgmtName`, `content`, 
			`filePath`, `maxScore`, `dueDate`, `createdAt`, `updatedAt` ) VALUES ( #{classId}, 
			#{asgmtType}, #{asgmtName}, #{content}, #{filePath}, #{maxScore}, #{dueDate}, 
			NOW(), NOW() ) -->

		<!-- INSERT INTO `assignment` ( `classId`, `asgmtId`, `asgmtType`, `asgmtName`, 
			`content`, `filePath`, `maxScore`, `dueDate`, `createdAt`, `updatedAt` ) 
			VALUES ( #{classId}, MAX(`asgmtId`)+1, #{asgmtType}, #{asgmtName}, #{content}, 
			#{filePath}, #{maxScore}, #{dueDate}, NOW(), NOW() ) -->
		INSERT INTO `assignment`
		(
		`classId`,
		`asgmtId`,
		`asgmtType`,
		`asgmtName`,
		`content`,
		`filePath`,
		`maxScore`,
		`dueDate`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{classId},
		IFNULL(((SELECT `asgmtId` FROM (SELECT
		MAX(`asgmtId`)
		`asgmtId` FROM `assignment` WHERE `classId` = #{classId}
		LIMIT 1) TMP)
		+1),1),
		#{asgmtType},
		#{asgmtName},
		#{content},
		#{filePath},
		#{maxScore},
		#{dueDate},
		NOW(),
		NOW()
		)
	</insert>

	<select id="selectAsgmtByClassIdAsgmtId"
		resultType="com.univ.assignment.model.Assignment" parameterType="map">
		SELECT
		`classId`,
		`asgmtId`,
		`asgmtType`,
		`asgmtName`,
		`content`,
		`filePath`,
		`maxScore`,
		`dueDate`,
		`createdAt`,
		`updatedAt`
		FROM
		`assignment`
		WHERE
		`classId` =
		#{classId}
		AND
		`asgmtId` =
		#{asgmtId}
		LIMIT 1;
	</select>

	<update id="updateAssignment"
		parameterType="com.univ.assignment.model.Assignment">
		UPDATE
		`assignment`
		SET
		`asgmtType`=#{asgmtType},
		`asgmtName`=#{asgmtName},
		`content` = #{content},
		`filePath` =
		#{filePath},
		`maxScore` = #{maxScore},
		`dueDate` = #{dueDate},
		`updatedAt` = NOW()
		WHERE
		`classId` =
		#{classId} AND
		`asgmtId`
		=
		#{asgmtId}
	</update>

	<delete id="deleteAssignment" parameterType="map">
		DELETE FROM
		`assignment`
		WHERE
		`classId` = #{classId}
		AND
		`asgmtId` = #{asgmtId}
	</delete>

	<insert id="insertSubmittedAssignment"
		parameterType="com.univ.assignment.model.SubmittedAsgmt">
		INSERT INTO `submittedassignment`
		(
		`classId`,
		`asgmtId`,
		`email`,
		`content`,
		`filePath`,
		`access`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{classId},
		#{asgmtId},
		#{email},
		#{content},
		#{filePath},
		#{access},
		NOW(),
		NOW()
		)
	</insert>

	<update id="updateSubmittedAssignment"
		parameterType="com.univ.assignment.model.SubmittedAsgmt">
		UPDATE `submittedassignment`
		SET
		`content` =
		#{content},
		`filePath` = #{filePath},
		`access` = #{access},
		`updatedAt` =
		NOW()
		WHERE
		`classId` = #{classId}
		AND
		`asgmtId` = #{asgmtId}
		AND
		`email` =
		#{email}
	</update>

	<select id="selectSubmittedAsgmt" parameterType="map"
		resultType="com.univ.assignment.model.SubmittedAsgmt">
		SELECT
		`classId`,
		`asgmtId`,
		`email`,
		`content`,
		`score`,
		`feedback`,
		`filePath`,
		`access`,
		`createdAt`,
		`updatedAt`
		FROM
		`submittedassignment`
		WHERE
		`classId` = #{classId}
		AND
		`asgmtId` =
		#{asgmtId}
		AND
		`email` =
		#{email}
	</select>

	<select id="selectSubmittedAsgmtUserList" parameterType="map"
		resultType="com.univ.assignment.model.AssignmentUserCombined">
		SELECT
		a.`id`,
		a.`classId`,
		a.`asgmtId`,
		a.`email`,
		a.`content`,
		a.`filePath`,
		a.`score`,
		a.`feedback`,
		a.`createdAt`,
		a.`updatedAt`,
		b.`email`,
		b.`firstName`,
		b.`lastName`
		FROM
		`submittedassignment` as a
		INNER JOIN
		`user`as b
		ON
		a.`email` =
		b.`email`
		WHERE
		`classId` = #{classId}
		AND
		`asgmtId` = #{asgmtId}
	</select>

	<select id="selectSubmittedAsgmtUserById" parameterType="int"
		resultType="com.univ.assignment.model.AssignmentUserCombined">
		SELECT
		a.`id`,
		a.`classId`,
		a.`asgmtId`,
		a.`email`,
		a.`content`,
		a.`filePath`,
		a.`score`,
		a.`feedback`,
		a.`createdAt`,
		a.`updatedAt`,
		b.`email`,
		b.`firstName`,
		b.`lastName`
		FROM
		`submittedassignment` as a
		INNER JOIN
		`user`as b
		ON
		a.`email` =
		b.`email`
		WHERE
		`id` = #{id}
	</select>

	<update id="updateGradeSubmittedAsgmt" parameterType="map">
		UPDATE
		`submittedassignment`
		SET `score` = #{score}, `perScore` =
		#{score} *
		100 / (SELECT `maxScore` FROM `assignment` WHERE `classId` =
		(select
		`classId` from (SELECT `classId` FROM `submittedassignment` WHERE `id`
		=
		#{id})TMP) and
		`asgmtId`
		= (SELECT `asgmtId` FROM (SELECT `asgmtId`
		FROM `submittedassignment` WHERE `id` =
		#{id})TMP)),
		`feedback` =
		#{feedback},
		`access` = #{access}, `updatedAt` =
		NOW()
		WHERE
		`id` = #{id}
	</update>

	<select id="selectAsgmtListByEmailByDueDate"
		resultType="com.univ.assignment.model.Assignment"
		parameterType="string">
		SELECT
		a.`classId`,
		a.`asgmtId`,
		a.`asgmtType`,
		a.`asgmtName`,
		a.`content`,
		a.`filePath`,
		a.`maxScore`,
		a.`dueDate`,
		a.`createdAt`,
		a.`updatedAt`
		FROM
		`assignment` a INNER JOIN `registry` b
		ON
		a.`classId` = b.`classId`
		WHERE
		a.`dueDate` IS NOT NULL
		AND
		(SELECT
		COUNT(*) FROM `submittedassignment` WHERE `classId` = a.`classId` AND
		`asgmtId` = a.`asgmtId` AND `email` = #{email}) = 0
		ORDER BY
		a.`dueDate`
	</select>

	<select id="selectAsgmtListByEmail"
		resultType="com.univ.assignment.model.Assignment" parameterType="map">
		<!-- SELECT a.`classId`, a.`asgmtId`, a.`asgmtType`, a.`asgmtName`, a.`content`, 
			a.`filePath`, a.`maxScore`, a.`dueDate`, a.`createdAt`, a.`updatedAt`, (SELECT 
			`courseCode` FROM `course` WHERE `courseCode` = (SELECT `courseCode` FROM 
			`class` as c WHERE c.`id` = a.`classId`)) as `courseCode` FROM `assignment` 
			as a INNER JOIN `registry` as b ON a.`classId` = b.`classId` WHERE b.`email` 
			= #{email} ORDER BY a.`updatedAt` DESC; -->

		SELECT * FROM
		(SELECT
		d.*,
		@ROWNUM := @ROWNUM + 1 AS
		`rownum`
		FROM
		(
		SELECT
		a.`classId`,
		a.`asgmtId`,
		a.`asgmtType`,
		a.`asgmtName`,
		a.`content`,
		a.`filePath`,
		a.`maxScore`,
		a.`dueDate`,
		a.`createdAt`,
		a.`updatedAt`,
		(SELECT `courseCode` FROM `course` WHERE
		`courseCode` =
		(SELECT
		`courseCode` FROM `class` as c WHERE c.`id` =
		a.`classId`)) as
		`courseCode`
		FROM
		`assignment` as a INNER JOIN
		`registry` as b
		ON
		a.`classId` =
		b.`classId`
		WHERE b.`email` = #{email}
		ORDER BY
		a.`updatedAt`
		DESC
		) AS d,
		(SELECT
		@ROWNUM:=0) AS e) f
		WHERE
		`rownum`
		BETWEEN #{pageNum}
		* 10 - 9
		AND #{pageNum} * 10;
	</select>

	<select id="selectCountAsgmtListByEmail" parameterType="string"
		resultType="int">
		SELECT
		COUNT(*)
		FROM
		`assignment` as a INNER JOIN
		`registry` as
		b
		ON
		a.`classId` =
		b.`classId`
		WHERE b.`email` = #{email}
	</select>

	<select id="selectAsgmtListByEmailProf"
		resultType="com.univ.assignment.model.Assignment" parameterType="map">
		<!-- SELECT a.`classId`, a.`asgmtId`, a.`asgmtType`, a.`asgmtName`, a.`content`, 
			a.`filePath`, a.`maxScore`, a.`dueDate`, a.`createdAt`, a.`updatedAt`, b.`courseCode` 
			FROM `assignment` as a INNER JOIN `class` as b ON a.`classId`=b.`id` WHERE 
			b.`profEmail` = #{email} ORDER BY a.`updatedAt` DESC; -->

		SELECT * FROM
		(SELECT
		d.*,
		@ROWNUM := @ROWNUM + 1 AS
		`rownum`
		FROM
		(
		SELECT
		a.`classId`,
		a.`asgmtId`,
		a.`asgmtType`,
		a.`asgmtName`,
		a.`content`,
		a.`filePath`,
		a.`maxScore`,
		a.`dueDate`,
		a.`createdAt`,
		a.`updatedAt`,
		b.`courseCode`
		FROM
		`assignment` as a INNER
		JOIN `class`
		as
		b
		ON
		a.`classId`
		= b.`id`
		WHERE b.`profEmail` = #{email}
		ORDER
		BY
		a.`updatedAt`
		DESC
		) AS d,
		(SELECT
		@ROWNUM:=0) AS e) f
		WHERE
		`rownum` BETWEEN #{pageNum}
		* 10 - 9
		AND
		#{pageNum} * 10;
	</select>

	<select id="selectCountAsgmtListByEmailProf"
		parameterType="string" resultType="int">
		SELECT
		COUNT(*)
		FROM
		`assignment` as a
		INNER
		JOIN
		`class` as b
		ON
		a.`classId` = b.`id`
		WHERE
		b.`profEmail` =
		#{email}
	</select>
</mapper>