<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.univ.chat.dao.ChatDAO">
	<insert id="insertMessage" parameterType="map">
		INSERT INTO `chat`
		(
		`roomId`,
		`writer`,
		`content`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{roomId},
		#{writer},
		#{content},
		NOW(),
		NOW()
		)
	</insert>

	<select id="selectMessageList" parameterType="int"
		resultType="com.univ.chat.model.ChatUserCombined">
		SELECT
		a.`id`,
		a.`roomId`,
		a.`writer`,
		a.`content`,
		a.`createdAt`,
		a.`updatedAt`,
		b.`studentNum`,
		b.`type`,
		b.`firstName`,
		b.`lastName`,
		b.`profileUrl`
		FROM
		`chat` as a
		INNER JOIN
		`user` as b
		ON
		a.`writer` =
		b.`email`
		WHERE
		a.`roomId` = #{roomId};
	</select>

	<select id="selectNewMessage" parameterType="map"
		resultType="com.univ.chat.model.ChatUserCombined">
		SELECT
		a.`id`,
		a.`roomId`,
		a.`writer`,
		a.`content`,
		a.`createdAt`,
		a.`updatedAt`,
		b.`studentNum`,
		b.`type`,
		b.`firstName`,
		b.`lastName`,
		b.`profileUrl`
		FROM
		`chat` as a
		INNER JOIN
		`user` as b
		ON
		a.`writer` =
		b.`email`
		WHERE
		a.`roomId` = #{roomId}
		AND
		a.`id` >
		#{currentId}
	</select>

	<select id="selectChatRoomByRoomId" parameterType="int"
		resultType="com.univ.chat.model.ChatRoom">
		SELECT
		`id`,
		`members`,
		`roomName`,
		`createdAt`,
		`updatedAt`
		FROM
		`chatroom`
		WHERE
		`id` = #{roomId}
	</select>

	<select id="selectChatRoomListByEmail" parameterType="string"
		resultType="com.univ.chat.model.ChatRoom">
		SELECT
		`id`,
		`members`,
		`roomName`,
		`createdAt`,
		`updatedAt`
		FROM
		`chatroom`
		WHERE
		`members` like CONCAT('%',#{email},'/%')
		ORDER BY
		`createdAt` DESC
	</select>

	<insert id="insertChatRoom" parameterType="map">
		INSERT INTO `chatroom`
		(
		`members`,
		`roomName`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{memberString},
		#{roomName},
		NOW(),
		NOW()
		)
	</insert>

	<select id="selectRecentChatRoomId" resultType="int">
		SELECT
		`id`
		FROM
		`chatroom`
		ORDER BY
		`createdAt`
		DESC
		LIMIT 1
	</select>
</mapper>