<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.univ.chat.dao.ChatDAO">
	<insert id="insertMessage" parameterType="map">
		INSERT INTO `chat`
		(
		`roomId`,
		`writer`,
		`content`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{roomId},
		#{writer},
		#{content},
		NOW(),
		NOW()
		)
	</insert>

	<select id="selectMessageList" parameterType="int"
		resultType="com.univ.chat.model.Chat">
		SELECT
		`id`,
		`roomId`,
		`writer`,
		`content`,
		`createdAt`,
		`updatedAt`
		FROM
		`chat`
		WHERE
		`roomId` = #{roomId}
	</select>

	<select id="selectNewMessage" parameterType="map"
		resultType="com.univ.chat.model.Chat">
		SELECT
		`id`,
		`roomId`,
		`writer`,
		`content`,
		`createdAt`,
		`updatedAt`
		FROM
		`chat`
		WHERE
		`roomId` = #{roomId}
		AND
		`id` > #{currentId}
	</select>
</mapper>