<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper 설정 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.univ.course.dao.CourseDAO">
	<select id="selectCourseList"
		resultType="com.univ.course.model.Course">
		SELECT
		`courseCode`
		,`courseName`
		,`description`
		,`price`
		,`createdAt`
		,`updatedAt`
		FROM
		`course`
		ORDER BY
		`courseCode`
		ASC
	</select>

	<select id="selectCourseListBySubjectCode"
		parameterType="string" resultType="com.univ.course.model.Course">
		SELECT
		`courseCode`
		,`courseName`
		,`description`
		,`price`
		,`createdAt`
		,`updatedAt`
		FROM
		`course`
		WHERE
		<if test='subjectCode != "0"'>
			`courseCode` LIKE
			CONCAT(#{subjectCode},'%')
		</if>
		ORDER BY
		`courseCode`
		ASC
	</select>

</mapper>