<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper 설정 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.univ.course.dao.CourseDAO">
	<select id="selectCourseList"
		resultType="com.univ.course.model.Course">
		SELECT
		`courseCode`
		,`courseName`
		,`description`
		,`price`
		,`createdAt`
		,`updatedAt`
		FROM
		`course`
	</select>

</mapper>