<?xml version="1.0" encoding="UTF-8"?>
<!-- mapper -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.univ.registry.dao.RegistryDAO">
	<insert id="insertToClass" parameterType="map">
		INSERT INTO `registry`
		(
		`classId`,
		`registerId`,
		`email`,
		`createdAt`,
		`updatedAt`
		)
		VALUES
		(
		#{classId},
		IFNULL(((select `registerId` from (SELECT
		MAX(`registerId`)
		`registerId` FROM `registry` where `classId` = #{classId}
		LIMIT 1) TMP)
		+1),1),
		#{email},
		NOW(),
		NOW()
		)
	</insert>

	<select id="selectRegistryListByEmail" parameterType="string"
		resultType="com.univ.registry.model.Registry">
		SELECT
		`classId`,
		`registerId`,
		`email`,
		`createdAt`,
		`updatedAt`
		FROM
		`registry`
		WHERE
		`email` =
		#{email}
	</select>

	<select id="selectDuplicatedClass" parameterType="map"
		resultType="int">
		SELECT
		count(*)
		FROM
		`registry`
		WHERE
		`classId` = #{classId}
		AND
		`email` =
		#{email}
	</select>

	<select id="countRegistryByClassId" parameterType="int"
		resultType="int">
		SELECT
		COUNT(*)
		FROM
		`registry`
		WHERE
		`classId` = #{classId}
	</select>

	<select id="checkTime" parameterType="map" resultType="int">
		SELECT
		COUNT(*)
		FROM
		(SELECT
		b.`monStartTime`,
		b.`tueStartTime`,
		b.`wedStartTime`,
		b.`thuStartTime`,
		b.`friStartTime`
		FROM
		`registry` as a
		INNER JOIN
		`class` as b
		ON
		a.classId = b.id
		WHERE
		a.email = #{email}) as c
		WHERE
		c.monStartTime = #{monTime}
		OR
		c.tueStartTime = #{tueTime}
		OR
		c.wedStartTime = #{wedTime}
		OR
		c.thuStartTime = #{thuTime}
		OR
		c.friStartTime = #{friTime}
	</select>
</mapper>