@charset "UTF-8";

body {
	font-family: 'times new roman';
}

header {
	height: 150px;
	background-color: #E0FFFF;
}

nav {
	height: 60px;
	background-color: #008B8B;
}

section {
	min-height: 700px;
}

footer {
	height: 100px;
	background-color: #008B8B;
	color: white;
}

a:hover {
	text-decoration-color: white;
}

textarea {
	resize: none;
}

.button {
	background-color: #008B8B;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}

.button:hover {
	background-color: #006666;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}

#profileImgBox {
	height: 100px;
	min-width: 100px;
	max-width: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.dayOfWeek {
	text-align: center;
}

.classBox {
	height: 280px;
	width: 320px;
	border-radius: 5px;
	background-color: white;
	border: 2px solid #008B8B;
}

.box {
	flex-wrap: wrap;
}

.classAsideArea {
	border-left: 1px solid grey;
	background-color: #f1f3f4;
	min-height: 700px;
}

.classAside {
	height: 350px;
	width: 90%;
	border-radius: 5px;
	background-color: white;
	border: 2px solid #008B8B;
}

.classBoxTitle {
	height: 110px;
	background-color: #008B8B;
}

#classTable {
	table-layout: fixed;
	width: 100%;
}

.noDecoA {
	text-decoration: none;
	color: black;
}

.noDecoA:hover {
	text-decoration: underline;
	color: black;
}

.asmntA, .asmntA:hover {
	text-decoration: underline;
}