@charset "UTF-8";

body {
	font-family: 'times new roman';
}

header {
	height: 150px;
	background-color: #E0FFFF;
}

nav {
	height: 60px;
	background-color: #008B8B;
}

section {
	min-height: 700px;
}

footer {
	height: 100px;
	background-color: #008B8B;
	color: white;
}

a:hover {
	text-decoration-color: white;
}

textarea {
	resize: none;
}

input:focus::placeholder {
	color: transparent;
}

.logoText {
	color: #008B8B;
	text-decoration: none;
}

.logoText:hover {
	text-decoration: none;
}

.contentBox {
	min-height: 200px;
}

.button {
	background-color: #008B8B;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}

.hover-pointer:hover {
	cursor: pointer;
}

.button:hover {
	background-color: #006666;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}

.cancelButton {
	background-color: white;
	border-radius: 0px;
	border-color: #008B8B;
	color: #008B8B;
	font-weight: bold;
}

.cancelButton:hover {
	background-color: #c0c0c0;
	border-radius: 0px;
	color: #008B8B;
	font-weight: bold;
}

.delButton {
	background-color: #f20000;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}

.delButton:hover {
	background-color: #db0000;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}

.profileImgBox {
	object-fit: cover;
	border-radius: 100%;
}

#courseNameBox {
	height: 60px;
	overflow-y: auto;
}

.dayOfWeek {
	text-align: center;
}

.classBox {
	height: 280px;
	width: 320px;
	border-radius: 5px;
	background-color: white;
	border: 2px solid #008B8B;
}

.box {
	flex-wrap: wrap;
}

.classAsideArea {
	border-left: 1px solid grey;
	background-color: #f1f3f4;
	min-height: 700px;
}

.classAside {
	height: 350px;
	width: 90%;
	border-radius: 5px;
	background-color: white;
	border: 2px solid #008B8B;
}

.linkRow:hover {
	background-color: #d5e6e8;
	cursor: pointer;
}

.selectedRow {
	background-color: #b8d1d4;
}

.selectedRow:hover {
	background-color: #d5e6e8;
	cursor: pointer;
}

.noneSelectable {
	user-select: none;
}

.classBoxTitle {
	height: 120px;
	background-color: #008B8B;
}

.colFixedTable {
	table-layout: fixed;
}

#classTable {
	table-layout: fixed;
	width: 100%;
}

#smallClassTimeTable {
	width: 100%;
	/* table-layout: fixed; */
}

.noDecoA {
	text-decoration: none;
	color: black;
}

.noDecoA:hover {
	text-decoration: underline;
	color: black;
}

.asmntA, .asmntA:hover {
	text-decoration: underline;
}

.coursePage:hover {
	text-decoration: underline;
	cursor: pointer;
}

.border-grey>thead>tr>th, .border-grey>tbody>tr>td {
	border: 1px solid grey;
	height: 40px;
}

.underline {
	text-decoration: underline;
}

.classFilledTime {
	background-color: #b9c8fa;
}

.classAvailableTime:hover {
	background-color: lightgrey;
}

.classFilledTimeHover:hover {
	background-color: #7e9af7;
}

.classSelectedTime {
	background-color: #ffa3a3;
}

.classSelectedTime:hover {
	background-color: #fc8686;
}

.greyBorder {
	border: 1px solid lightgrey;
}

.sharpBorder {
	border-radius: 0px;
}

.roomListTable>tbody {
	display: block;
	overflow-y: auto;
	max-height: 460px;
}

.chatRoomList {
	background-color: #f0f1f2;
}

.selectedChatRoom {
	background-color: #d2d2d2;
	overflow-y: auto;
}

.chatRoomTitle {
	height: 50px;
	overflow: hidden;
}

.chatRoomBox {
	height: 500px;
}

.chatBalloon {
	border: 2px solid lightgrey;
	border-radius: 6px;
	max-width: 300px;
	overflow-wrap: break-word;
	padding: 5px;
	background-color: #eaffff;
}

.myChat {
	background-color: #008B8B;
	color: white;
}

#chatBox {
	border-top: 1px solid lightgrey;
	overflow-y: auto;
}

.unselectable {
	user-select: none;
}

#userListBox {
	height: 300px;
	overflow: auto;
}

#memberList {
	height: 50px;
	overflow-x: auto;
}