@charset "UTF-8";

body {
	font-family: 'times new roman';
}

header {
	height: 150px;
	background-color: #E0FFFF;
}

nav {
	height: 60px;
	background-color: #008B8B;
}

section {
	min-height: 700px;
}

footer {
	height: 100px;
	background-color: #008B8B;
	color: white;
}

.button {
	background-color: #008B8B;
	border-radius: 0px;
	color: white;
	font-weight: bold;
}

#profileImgBox {
	height: 100px;
	min-width: 100px;
	max-width: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.dayOfWeek {
	text-align: center;
}

.classBox {
	height: 320px;
	width: 320px;
	border-radius: 5px;
	background-color: black;
}

.box {
	flex-wrap: wrap;
}

.classAside {
	height: 600px;
	width: 320px;
	border-radius: 5px;
	background-color: black;
}